#main-canvas {
  border: 2px solid black;
  margin: 10rem;
}

#page-title {
  margin-top: 100px;
  size: 40px;
  color: black;
  z-index: 1;
}

body {
  z-index: 10;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
